@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

svg.RiskAdviceLogo {
  --xs-width: 200px;
  --sm-width: 250px;
  --lg-width: 300px;

  width: var(--xs-width);
  height: calc(var(--xs-width) * 7 / 27);

  @include media-breakpoint-up(sm) {
    width: var(--sm-width);
    height: calc(var(--sm-width) * 7 / 27);
  }

  @include media-breakpoint-up(lg) {
    width: var(--lg-width);
    height: calc(var(--lg-width) * 7 / 27);
  }
}
